<html>
<head>
  <title>Proxy Scheduler</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  <div class="container-md mt-3"><h2>Proxy-Scheduler</h2></div>
  <div class="container-md my-3">
    <form action="">
      <div class="row mb-3">
        <label for="client" class="col-sm-2 col-form-label">Client address</label>
        <div class="col-sm-10">
          <input type="text" name="client" id="client" placeholder="192.168.32.2" value="{{ myIP }}" class="form-control">
        </div>
      </div>

       <div class="row mb-3">
        <label for="pattern" class="col-sm-2 col-form-label">URL Pattern</label>
        <div class="col-sm-10">
          <input type="text" name="pattern" id="pattern" placeholder="*.example.com" value="*" class="form-control">
        </div>
      </div>

      <div class="row mb-3">
        <label for="proxy" class="col-sm-2 col-form-label">Proxy host</label>
        <div class="col-sm-10">
          <input type="text" name="proxy" id="proxy" placeholder="socks.example.com or 192.168.1.1" class="form-control">
        </div>
      </div>

      <div class="row mb-3">
        <label for="port" class="col-sm-2 col-form-label">Proxy port</label>
        <div class="col-sm-10">
          <input type="number" name="port" id="port" placeholder="8888" value="8888" class="form-control">
        </div>
      </div>

      <div class="row mb-3">
        <label for="time" class="col-sm-2 col-form-label">Duration (s)</label>
        <div class="col-sm-10">
          <input type="number" name="time" id="time" placeholder="seconds" value="3600" class="form-control">
        </div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Add</button>
      </div>
    </form>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Client</th>
          <th scope="col">URL Pattern</th>
          <th scope="col">Proxy host</th>
          <th scope="col">Port</th>
          <th scope="col">Time till</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{# DATA }}
          <form action="/">
            <tr>
                <td>{{ ip }}<input type="hidden" name="client" value="{{ ip }}" /></td>
                <td>{{ pattern }}<input type="hidden" name="pattern" value="{{ pattern }}" /></td>
                <td>{{ proxy }}<input type="hidden" name="proxy" value="{{ proxy }}" /></td>
                <td>{{ port }}<input type="hidden" name="port" value="{{ port }}" /></td>
                <td>{{ timeEnd }} ({{ duration }} seconds)<input type="hidden" name="time" value="{{ duration }}" /></td>
                <td>
                  <button type="submit" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Stop" name="action" value="stop" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
                      <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </button>
                  <button type="submit" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Repeat">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                  </button>
                </td>
            </tr>
          </form>
        {{/ DATA }}
        {{^ DATA}}
          <tr>
            No entries – please use the form above
          </tr>
        {{/ DATA}}
      </tbody>  
    </table>

    <a href="/pac.php">PAC-file link</a>
  </div>
</body>
</html>
