function FindProxyForURL(url, host) {
{{#proxy}}
  {{#pattern}}
  if (shExpMatch(url, "{{ pattern }}")) {
  {{/pattern}}
    return "PROXY {{proxy}}:{{port}}";
  {{#pattern}}
  }
  {{/pattern}}
{{/proxy}}
    return "DIRECT";
}
